.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 100px;
    min-width: 120px;
  }
  .div mat-card
  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    opacity: 0.5;
  }
  .div1
  {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    display: inline-block;
  }
  .sign
  {
    margin-left: 2%;
  }